<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/head') %>
    <title>board</title>
  </head>
  <body>
    <div class="container">
      <%- include('../partials/nav') %>

      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4"><%=post.title %></h1>
          <p class="lead"><%=post.content%></p>
          <form action="/posts/<%= post._id %>?_method=delete" method="post">
            <a
              href="/posts/<%= post._id%>/edit"
              class="btn btn-outline-primary mb-3"
            >
              edit
            </a>

            <button type="submit" class="btn btn-outline-primary mb-3">
              delete
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
